<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
        <title>{% block title %}symblog{% endblock %} - symblog</title>
	<!-- Above used Tag is Called Twig Do something tag -->

        <!--[if lt IE 9]>
            	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> 
        <![endif]-->
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
            <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
	<!-- Above used  tag is called as Say something tag -->
    </head>
    <body>
	<section id="wrapper">
            <header id="header">
                <div class="top">
                    {% block navigation %}
			<h3>These Are the links to ShowketbhatBundle Module</h3>
                        <nav>
                            <ul class="navigation">
                                 <li><a href="{{ path('ShowketBhatBundle_homepage') }}">Home</a></li>
           			 <li><a href="{{ path('ShowketBhatBundle_song') }}">Songs</a></li>
           			 <!-- Above we are giving a routing path -->
           			 <li><a href="{{ path('ShowketBhatBundle_movies') }}">Movies</a></li>
           			 <li><a href="{{ path('ShowketBhatBundle_register') }}">Registration</a></li>
				 <li><a href="{{ path('ShowketBhatBundle_registeruser') }}">Fill Users Form</a></li>
				 <li><a href="{{ path('ShowketBhatBundle_information') }}">Users</a></li>
           			 <li><a href="{{ path('BloggerBlogBundle_homepage') }}">Go To Bloger</a></li>
                            </ul>
                        </nav>
                    {% endblock %}
                </div>
	    </header>
		 <section class="main-col">
        	        {% block body %}{% endblock %}
	         </section>
		 <aside class="sidebar">
        	        {% block sidebar %}{% endblock %}
	         </aside>
	</section>
    </body>
</html>
